body {
    background: #000;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fog-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0.8;
}

.fog-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png');
    background-size: contain;
    opacity: 0.5;
    animation: fog 20s linear infinite;
}

.fog-layer.img-2 {
    animation-duration: 40s;
    animation-direction: reverse;
    top: 30%;
    opacity: 0.3;
}

@keyframes fog {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}