body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gen-container {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}

.img-frame {
    width: 100%;
    min-height: 300px;
    background: #000;
    margin-bottom: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.controls {
    margin-bottom: 1rem;
    text-align: left;
}

.size-inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

input[type=number] {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
    color: #fff;
    padding: 0.8rem;
    border-radius: 8px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ccc;
    cursor: pointer;
}

.url-box {
    background: #000;
    padding: 1rem;
    border-radius: 8px;
    color: #00ff41;
    font-family: monospace;
    word-break: break-all;
    font-size: 0.8rem;
}

.full-width {
    width: 100%;
    margin-top: 1rem;
}