body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.utility-container {
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    gap: 2rem;
}

.editor,
.preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preview {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background: #000;
}

.avatar-circle {
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    border: 2px solid var(--primary);
    margin-bottom: 1rem;
}

.p-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.p-link-item {
    padding: 1rem;
    background: #222;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #333;
    transition: 0.3s;
}

.p-link-item:hover {
    background: #333;
    border-color: var(--secondary);
}

input {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 8px;
}

.link-inputs {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 700px) {
    .utility-container {
        flex-direction: column;
    }
}