body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

canvas {
    background: #05050a;
    border: 2px solid #333;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
}

.hud {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 800;
    pointer-events: none;
}

.hidden {
    display: none !important;
}