body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-container {
    text-align: center;
}

.hud {
    padding: 1rem 2rem;
    border-radius: 50px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 600px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    gap: 20px;
}

.hole {
    flex: 1 1 30%;
    height: 100%;
    background: #333;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0 10px 0 0px #111;
    border-bottom: 3px solid #555;
}

.mole {
    width: 60%;
    height: 70%;
    background: var(--primary);
    border-radius: 30% 30% 0 0;
    position: absolute;
    top: 100%;
    left: 20%;
    transition: top 0.4s;
    box-shadow: 0 0 20px var(--primary);
    cursor: pointer;
}

.hole.up .mole {
    top: 10%;
}

.hole.smacked .mole {
    background: #ff0055;
    pointer-events: none;
}