body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.effect-container {
    text-align: center;
}

.glitch {
    font-size: 5rem;
    font-weight: 800;
    color: #fff;
    position: relative;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 #ff0055;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -1px 0 #00f3ff;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
    }

    80% {
        clip-path: inset(10% 0 60% 0);
    }

    100% {
        clip-path: inset(30% 0 30% 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
    }

    20% {
        clip-path: inset(30% 0 20% 0);
    }

    40% {
        clip-path: inset(80% 0 5% 0);
    }

    60% {
        clip-path: inset(40% 0 50% 0);
    }

    80% {
        clip-path: inset(70% 0 10% 0);
    }

    100% {
        clip-path: inset(10% 0 40% 0);
    }
}

.subtitle {
    color: #888;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 1rem;
}