body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

#preview {
    font-size: 5rem;
    color: #fff;
    transition: 0.3s;
    margin-bottom: 3rem;
    text-align: center;
}

.controls {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
}

input {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
}

input[type=color] {
    width: 50px;
    padding: 0;
}