body {
    margin: 0;
    overflow: hidden;
    background: #000;
    height: 100vh;
}

canvas {
    display: block;
}

.instruction {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
}