body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.converter-container {
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
}

.io-grid {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.io-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.io-box label {
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 600;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-family: monospace;
    border-radius: 8px;
    resize: none;
    outline: none;
    font-size: 0.9rem;
}

textarea:focus {
    border-color: var(--primary);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-msg {
    colr: #ff0055;
    min-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 700px) {
    .io-grid {
        flex-direction: column;
    }

    .controls {
        transform: rotate(90deg);
        margin: 1rem 0;
    }
}