body {
    margin: 0;
    background: #0b0b15;
    overflow: hidden;
    height: 100vh;
}

canvas {
    display: block;
}

.center-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    color: #fff;
    opacity: 0.1;
}