body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.loader-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.loader {
    position: relative;
    width: 100%;
    height: 100%;
    filter: url(#goo);
    animation: rotate 5s infinite linear;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(calc(45deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    border-radius: 50%;
    box-shadow: 0 0 30px var(--primary);
    transform: translate(-50%, -50%);
    animation: move 2s infinite ease-in-out;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move {

    0%,
    100% {
        transform: translate(-50%, -50%) translateX(20px);
    }

    50% {
        transform: translate(-50%, -50%) translateX(60px);
    }
}

svg {
    width: 0;
    height: 0;
}