body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-container {
    padding: 2rem;
    border-radius: 20px;
    display: inline-block;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.mine-grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    background: #333;
    border: 2px solid #555;
}

.cell {
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    user-select: none;
}

.cell:hover {
    background: #333;
}

.cell.revealed {
    background: #444;
    cursor: default;
}

.cell.mine {
    background: #ff0055;
    color: #fff;
}

.cell.flag {
    color: #f538ff;
}

/* Numbers */
.c-1 {
    color: #00f3ff;
}

.c-2 {
    color: #00ff41;
}

.c-3 {
    color: #ff0055;
}

.c-4 {
    color: #ffe600;
}