/* Inheriting mostly from shared styles, adding specific inputs */
.glass-input {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 8px;
    font-family: 'Outfit';
    font-size: 1rem;
    margin-top: 0.5rem;
}

.glass-input:focus {
    border-color: var(--primary);
    outline: none;
}