body {
    margin: 0;
    background: #000;
    overflow: hidden;
    height: 100vh;
}

canvas {
    display: block;
    cursor: crosshair;
}

.toolbar {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
}