body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gradient-text {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.1;
    background: linear-gradient(45deg, #ff0055, #ff0055, #00f3ff, #9d00ff, #ffee00);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-move 5s ease infinite;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}