body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

canvas {
    background: #000;
    border: 2px solid var(--glass-border);
    box-shadow: 0 0 50px rgba(157, 0, 255, 0.2);
    border-radius: 8px;
}

.hud {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    pointer-events: none;
    padding: 0.5rem 2rem;
    border-radius: 50px;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 3rem;
    text-align: center;
    border-radius: 20px;
}

.hidden {
    display: none !important;
}